dtd_app: {{ galaxy_server_dir }}/lib/galaxy/jobs/dynamic_tool_destination.py
job_config: {{ galaxy_config_dir }}/job_conf.xml
dtd_config: {{ galaxy_config_dir }}/tool_destinations.yml
venv: {{ galaxy_venv_dir }}
