#!/bin/bash

GALAXY_DIST_HOME={{ galaxy_root_dir }}
DAYS=1

cd $GALAXY_DIST_HOME
. venv/bin/activate

cur_date=`date +%F`

python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -1 -r >> ~/cleanup_$cur_date'.log'
python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -2 -r >> ~/cleanup_$cur_date'.log'
python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -3 -r >> ~/cleanup_$cur_date'.log'
python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -4 -r >> ~/cleanup_$cur_date'.log'
python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -5 -r >> ~/cleanup_$cur_date'.log'
python server/scripts/cleanup_datasets/cleanup_datasets.py config/galaxy.yml -d $DAYS -6 -r >> ~/cleanup_$cur_date'.log'

python server/scripts/set_user_disk_usage.py -c config/galaxy.yml >> ~/cleanup_$cur_date'.log'
