{{ galaxy_root_dir }}/log/*.log {
  weekly
  rotate 16
  copytruncate
  compress
  missingok
  notifemptiy
  oldir {{ galaxy_root_dir }}/log/rotated
  createolddir 755 {{ galaxy_user }} {{ galaxy_user_group }}
}
