[program:galaxy]
command         = uwsgi --plugin python --virtualenv {{ galaxy_venv_dir }} --yaml {{ galaxy_config_dir }}/galaxy.yml
directory       = {{ galaxy_server_dir }}
autostart       = true
autorestart     = true
startsecs       = 10
user            = {{ galaxy_user }}
stopsignal      = INT
environment     = VIRTUAL_ENV="{{ galaxy_venv_dir }}",PATH="{{ galaxy_venv_dir }}/bin:%(ENV_PATH)s",DRMAA_LIBRARY_PATH="/usr/local/lib/libdrmaa.so.1"

[program:gie_proxy]
command         = node {{ galaxy_server_dir }}/lib/galaxy/web/proxy/js/lib/main.js --ip 127.0.0.1 --port 8800 --sessions {{ galaxy_server_dir }}/database/session_map.sqlite --cookie galaxysession --verbose
directory       = {{ galaxy_server_dir }}/lib/galaxy/web/proxy
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 5
user            = {{ galaxy_user }}
numprocs        = 1
stdout_logfile  = access.log
stderr_logfile  = error.log
 
[program:report]
command         = python ./scripts/paster.py serve {{ galaxy_config_dir }}/reports_wsgi.ini --pid-file={{ galaxy_root_dir }}/reports_webapp.pid --log-file={{ galaxy_root_dir }}/log/reports.log
directory       = {{ galaxy_server_dir }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 20
user            = {{ galaxy_user }}
environment     = VIRTUAL_ENV="{{ galaxy_venv_dir }}",PATH="{{ galaxy_venv_dir }}/bin:%(ENV_PATH)s"
numprocs        = 1
stopsignal      = INT
startretries    = 1


[group:gx]
programs = galaxy,report
