uwsgi:

  uid: {{ galaxy_user }}

  gid: {{ galaxy_user_group }}

  logfile-chmod: 644

  processes: 4

  socket: {{ galaxy_common_dir }}/var/uwsgi.sock

  chmod-socket: 644

  pythonpath: {{ galaxy_server_dir }}/lib

  logto: {{ galaxy_root_dir }}/log/uwsgi.log

  master: true

  enable-threads: true

  threads: 4

  http-raw-body: true

  offload-threads: 4

  module: galaxy.webapps.galaxy.buildapp:uwsgi_app()

  virtualenv: {{ galaxy_venv_dir }}

  buffer-size: 32768

  die-on-term: true
  hook-master-start: unix_signal:2 gracefully_kill_them_all
  hook-master-start: unix_signal:5 gracefully_kill_them_all

  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  mule: lib/galaxy/main.py
  farm: job-handlers:1,2,3,4,5,6,7,8

galaxy:

  # Setting all workers to write to their own log files
  logging:
    filters:
      stack:
        (): galaxy.web.stack.application_stack_log_filter
    formatters:
      stack:
        (): galaxy.web.stack.application_stack_log_formatter
    handlers:
      console:
        class: logging.StreamHandler
        level: DEBUG
        stream: ext://sys.stderr
      files:
        class: logging.FileHandler
        level: DEBUG
        filename: {{ galaxy_root_dir }}/log/galaxy_default.log
        filename_template: {{ galaxy_root_dir }}/log/galaxy_{pool_name}_{server_id}.log
    loggers:
      galaxy:
         handlers:
         - console
         - files
         level: DEBUG
         propagate: 0
         qualname: galaxy
      paste.httpserver.ThreadPool:
        level: WARN
        qualname: paste.httpserver.ThreadPool
      routes.middleware:
        level: WARN
        qualname: routes.middleware
    root:
      handlers:
      - console
      - files
      level: INFO
    version: 1

  log_level: INFO

  environment_setup_file: {{ galaxy_config_dir}}/env.sh

  new_file_path: {{ galaxy_server_dir }}/database/tmp

  data_manager_config_file: {{ galaxy_config_dir }}/data_manager_conf.xml.sample

  external_service_type_config_file: {{ galaxy_config_dir }}/external_service_types_conf.xml.sample

  visualization_plugins_directory: {{ galaxy_config_dir }}/plugins/visualizations

  citation_cache_lock_dir: {{ galaxy_server_dir }}/database/citations/locks

  tool_config_file: {{ galaxy_config_dir }}/tool_conf.xml,{{ galaxy_config_dir }}/shed_tool_conf.xml

  template_cache_path: {{ galaxy_server_dir }}/database/template_cache

  whoosh_index_dir: {{ galaxy_server_dir }}/database/whoosh_cache

  job_working_directory: {{ galaxy_server_dir }}/database/jobs

  builds_file_path: {{ galaxy_server_dir }}/tool-data/shared/ucsc/builds.txt.sample

  migrated_tools_config: {{ galaxy_config_dir }}/migrated_tools_conf.xml

  tool_data_table_config_path: {{ galaxy_config_dir }}/tool_data_table_conf.xml.sample

  shed_tool_data_path: {{ galaxy_common_dir }}/tool-data

  tool_data_path: {{ galaxy_common_dir }}/tool-data

  citation_cache_data_dir: {{ galaxy_server_dir }}/database/citations/data

  openid_consumer_cache_path: {{ galaxy_server_dir }}/database/openid_consumer_cache

  shed_tool_data_table_config: {{ galaxy_config_dir }}/shed_tool_data_table_conf.xml

  shed_data_manager_config_file: {{ galaxy_config_dir }}/shed_data_manager_conf.xml

  object_store_cache_path: {{ galaxy_server_dir }}/database/object_store_cache

  tool_sheds_config_file: {{ galaxy_config_dir }}/tool_sheds_conf.xml

  datatypes_config_file: {{ galaxy_config_dir }}/datatypes_conf.xml.sample

  openid_config_file: {{ galaxy_config_dir }}/openid_conf.xml.sample

  integrated_tool_panel_config: {{ galaxy_config_dir }}/integrated_tool_panel.xml

  ucsc_build_sites: {{ galaxy_server_dir }}/tool-data/shared/ucsc/ucsc_build_sites.txt.sample

  # nginx_upload_store: /tmp/upload_store

  # options configured by the site admin appear here

  database_connection: {{ galaxy_database_connection }}

  ftp_upload_site: galaxy.example.org

  new_user_dataset_access_role_default_private: true

  dynamic_proxy_prefix: gie_proxy

  dynamic_proxy_external_proxy: true

  master_api_key: {{ galaxy_api_key }}

  error_email_to: PHAC.BioInfo-Support.ASPC@phac-aspc.gc.ca

  {% if ldap_enable %}
auth_config_file: {{ galaxy_config_dir }}/auth_conf.xml
  {% endif %}

  database_engine_option_pool_size: 5

  tool_dependency_dir: {{ galaxy_common_dir }}/deps

  smtp_server: email-server.ca

  retry_metadata_internally: false

  dynamic_proxy_bind_ip: 0.0.0.0

  nginx_upload_store: /tmp/upload_store

  dynamic_proxy_bind_port: 8800

  dynamic_proxy_debug: false

  ftp_upload_dir: {{ galaxy_ftp_dir }}

  galaxy_data_manager_data_path: {{ galaxy_common_dir }}/tool-data

  require_login: {{ galaxy_require_login }}

  dynamic_proxy_manage: false

  database_engine_option_server_side_cursors: true

  use_cached_dependency_manager: true

  galaxy_admin_email_to: PHAC.BioInfo-Support.ASPC@phac-aspc.gc.ca

  nginx_x_accel_redirect_base: /_x_accel_redirect

  galaxy_admin_email_from: PHAC.BioInfo-Support.ASPC@phac-aspc.gc.ca

  database_engine_option_max_overflow: 50

  install_database_connection: {{ galaxy_install_database_connection }}

  allow_user_impersonation: {{ galaxy_allow_user_impersonation }}

  conda_auto_init: true

  admin_users: {{ galaxy_admin_users }}

  track_jobs_in_database: true

  allow_library_path_paste: true

  job_config_file: {{ galaxy_config_dir }}/job_conf.xml

  tool_destinations_config_file: {{ galaxy_config_dir }}/tool_destinations.yml

  file_path: {{ galaxy_common_dir }}/data

  dynamic_proxy_session_map: {{ galaxy_server_dir }}/database/session_map.sqlite

  enable_quotas: true

  interactive_environment_plugins_directory: {{ galaxy_config_dir }}/plugins/interactive_environments

  cleanup_job: onsuccess

  retry_metadata_internally: true

  # dependency_resolvers_config_file: {{ galaxy_config_dir }}/dependency_resolvers_conf.xml

  allow_user_creation: {{ galaxy_allow_user_creation }}

  galaxy_infrastructure_url: {{ galaxy_infrastructure_url }}

  maximum_workflow_jobs_per_scheduling_iteration: -1

  email_from: galaxy-no-reply@email.ca

  default_job_resubmission_condition: 'attempt < 3 and unknown_error'
