
[Galaxy]

admin_key: {{ irida_user_key }}
galaxy_url: http://{{ server_name }}
illumina_path: /illumina_reads
reference_path: /references
xml_file: irida_import.xml
max_waits: 120
max_client_http_attempts: 10
client_http_retry_delay: 30


[IRIDA]

client_secret: {{ irida_client_secret }}
token_endpoint_suffix: /api/oauth/token

# Be sure to run the tool with the '--config' option and then to restart Galaxy after changing these values!
client_id:  {{ irida_client_id_config }}
irida_url: http://ngs-archive.corefacility.ca/irida
initial_endpoint_suffix: /projects
